flask
flask_sqlalchemy
flask_marshmallow
flask_migrate
marshmallow-sqlalchemy
celery[redis,redisbeat]
pytest
flask-testing
minio
psycopg2-binary
Werkzeug

# ML
numpy
pandas
scikit-learn
xgboost
matplotlib
matplotlib-inline